---
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';
import TextSection from '../components/sections/TextSection.astro';

const seo = {
	title: 'Molly | Bespoke Ethos',
	description: 'Welcome to Molly\'s page',
};
---

<Layout seo={seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Molly</h1>
			<p>
				Welcome to Molly's page
			</p>
		</div>
	</HeroSection>

	<TextSection>
		<p>Add your content here</p>
	</TextSection>
</Layout>

